@use '../base/color' as *;
@use '../mixins/' as *;
@use '../breakpoints/' as *;

.features {
    background-color: $foregroundColor;

    &__header {
        text-align: center;
        padding: 1em;
    }

    @include respond-to('mobile') {
        &__inner {
            @include flexbox($direction: column);
            padding: .9em 0;
            // padding: 2em 1em;

        }

        &__item {
            @include flexbox($direction: column);
            padding: .4em 0;
        }

        &__svg {
            width: 150px;
        }

        &__header {
            padding: .3em 0;
            margin: .2em 0;
        }

        p {
            max-width: 90%;
            margin: 0;
            font-size: .9rem;
        }
    }

    @include respond-to('laptop') {
        &__inner {
            @include flexbox();
            align-items: unset;
            gap: 2em;
        }

        &__header {
            margin: .2em 0;
            padding: .4em 0;
        }
        
        &__item {
            @include flexbox($justify-content: unset, $direction: column);
            margin: 0;
            padding: 1em 0;
        }

        &__header {
            @include flexbox();
            align-items: baseline;
        }
    }
}

