@use '../base/color' as *;
@use '../mixins/' as *;
@use '../breakpoints/' as *;

.features {
    @include respond-to('mobile') {
        background: url('../../assets/svg/features.svg');
        background-size: cover;
        background-position: 75%;
        height: max-content;
        padding: 2em 0;

        &__innerSection {
            height: 100%;
            width: 100%;
        }

        &__header {
            padding: 0 0 3em 0;

            h3 {
                font-size: 2rem;
                color: #fff;
                margin: 0;
                padding: 0;
                max-width: 30ch;
                font-weight: 900;

                span {
                    color: blue;
                }
            }

            p {
                padding: .3em 0;
                margin: 0;
                max-width: 50ch;
            }
        }

        &__featuresListContainer {
            @include flexbox($justify-content: unset);
            gap: 2em;
            flex-direction: column;
        }

        &__feature {
            border-radius: 10px;
            width: 100%;
            align-items: flex-start;

            span {
                color: rgba(255, 255, 255, 0.4);
                font-weight: bold;
                font-size: 1.4rem;
            }

            h4 {
                max-width: 70%;
                margin: 0;
                padding: 0;
                font-weight: 900;
                font-size: 1rem;
            }
        }

        &__imageContainer {
            img {
                width: 100%;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 5px;
            }
        }
        
        aside {
        }

        &__asideRight {
            height: max-content;
            
            h4 {
                font-size: 2rem;
                font-weight: 900;
                margin: 0;
                 
                span {
                    color: blue;
                }
            }
        }

        &__showCaseContainer {
            @include flexbox($justify-content: unset);
            flex-direction: column;
            gap: 2em;
            align-items: unset;
            margin-top: 5em;
            border-top: 1px solid rgba(255, 255, 255, .2);
            border-bottom: 1px solid rgba(255, 255, 255, .2);
            border-radius: 5px;
            padding: 2em 0;
        }

        &__listPoints {
            p {
                font-weight: bold;
            }

            > * {
                @include flexbox($justify-content: unset);
                gap: .5em;

                > * {
                    color: green;
                }
            }
        }
    }

    @include respond-to('laptop') {
        padding: 5em 0;

        &__featuresListContainer {
            flex-direction: row;
        }

        &__imageContainer {

            img {
                width: 100%;
                border: 1px solid rgba(255, 255, 255, .1);
                border-radius: 5px;
            }
        }
        
        aside {
        }

        &__asideRight {
            border-left: 1px solid rgba(255, 255, 255, .2);
            padding-left: 1em;
            height: max-content;
            
            h4 {
                max-width: 70%;
                font-size: 2rem;
                font-weight: 900;
                margin: 0;
                 
                span {
                    color: blue;
                }
            }
        }

        &__showCaseContainer {
            @include flexbox($justify-content: unset);
            gap: 2em;
            align-items: unset;
            margin-top: 5em;
        }

        &__listPoints {
            p {
                font-weight: bold;
            }

            > * {
                @include flexbox($justify-content: unset);
                gap: .5em;

                > * {
                    color: green;
                }
            }
        }
    }
}

