@use '../mixins' as *;
@use '../base' as *;
@use '../mixins/buttons' as *;

.header {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    background-color: $foregroundColor;
    z-index: 100;


    @include respond-to('mobile') {
        // Start styling here below ====
        @include flexbox();

        &__content {
            @include flexbox($justify-content: space-between);
            align-items: center;
            padding: 0.6em .4em;
            width: 100%;
            background-color: $foregroundColor;
            font-size: 1rem;
            height: 7vh;
            box-sizing: border-box;
            // margin: 0 2em;
        }

        &__innerContent {
            @include flexbox($justify-content: space-between);
            align-items: center;
        }

        &__logo {
            width: 5em;

        }

        &__nav {
            @include flexbox($justify-content: space-between);
            align-items: unset;
            flex-direction: column;
            position: fixed;
            background-color: #000;
            color: #fff;
            height: 100vh;
            width: 80%;
            top: 0;
            left: 0;
            z-index: 3;
            transform: translateX(0%);
            transition: transform 5ms ease-in-out;
        } 

        &__profileContainer {
            @include flexbox($justify-content: space-between);
            padding: .8em;

            &:hover {
                cursor: pointer;
                background-color: $foregroundColor;
            }
        }

        &__profile {
            @include flexbox();
            gap: 0.4em;
            color: #fff;
            text-decoration: none;
        }

        &__profileImage {
            width: 50px;
            border-radius: 100%;
            border: 1px solid rgb(82, 82, 82);
        }

        &__name {
            font-size: 1rem;
            font-weight: 500;
            margin: 0;
        }

        &__title {
            font-size: 0.8rem;
            margin: 0;

        }

        &__recent {
            font-size: 0.8rem;
            align-self: flex-start;
            margin: 0;
        }

        &__close {
            font-size: 1.6rem;
            z-index: 20;

            &:hover {
                cursor: pointer;
            }
        }

        &__list {
            @include flexbox();
            flex-direction: column;
            align-items: unset;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        &__item {
            display: flex;
            align-items: center;
            gap: .8em;
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            font-weight: 500;
            padding: .8em;

            &:hover {
                background-color: $foregroundColor;
            }
        }

        &__logout {
            @include buttonHover($bgColor: $secondaryColor, $padding: .6em);
            width: 90%;
        }

        &__BtnGroup {
            @include flexbox();
        }

        &__search {
            display: none;
        }

        &__userContainer {
            @include flexbox($justify-content: unset);
        }

        &__userFullNames {
            @include flexbox($justify-content: unset);
            margin: 0;
        }

        &__groupDetails {
            margin-left: .4em;
        }

        &__userOccupation {
            margin: 0;
            font-size: .9rem;
            opacity: 0.5;
        }

        &__isVerified {
            margin-left: .2em;
            color: blue;
        }

        &__userAvatarResult {
            @include avatar($width: 40px);
        }

        &__userAvatar {
            @include avatar($width: 30px);
        }

        &__userIcon1 {
            font-size: 1.5rem;

            &:hover {
                cursor: pointer;
            }
        }

        &__userIcon {
            color: #fff;
            font-size: 1.4rem;
            margin: 0 .4em; 
        }

        &__button--signin {
            @include buttonHover(
                $bgColor: $primaryColor,
                $padding: 0.6em 1em,
                $radius: 25px
            );
            border-radius: 25px;
            width: 7em;
            border: 1px solid #fff;
        }

        &__menu-icon {
            font-size: 1.8rem;
            z-index: 2;
            margin-right: .2em
        }
    }

    @include respond-to('tablet') {
        @include flexbox();
        
        &__divider {
            display: none;
        }

        &__content {
            @include flexbox($justify-content: space-between);
            padding: 0.2 0.8em;
            margin: 0 0;
            // max-width: 20em;
        }

        &__list, &__item {
            @include flexbox();
            list-style: none;
            text-decoration: none;
            padding: 0;
        }

        &__item {
            text-decoration: none;
            padding: 0.4em 0;
            color: #fff;
            font-weight: 500;
        }

        &__item:hover {
            border-bottom: 2px solid #fff;
        }
    }

    @include respond-to('laptop') {
        &__logo {
            width: 6em;
        }

        &__content {
            padding: 0.4em 4em;
            position: relative;
        }

        &__icon {
            display: none;
        }

        &__list {
            margin-botton: 1em;
            padding-botton: 1em;
        }

        &__item {
            width: max-content;
            padding-botton: 1em;
            margin-botton: 3em;
        }

        &__seachIcon {
            display: none;
        }

        &__searchResultContainer {
            position: absolute;
            margin-top: .2em;
            background: #fff;
            border-radius: inherit;
            width: inherit;
            margin-top: .2em;
            padding-top: 1em;
        }

        &__searchContainer {
            position: relative;
            background: #fff;
            border-radius: 20px;
            width: 300px;
        }
        
        &__searchWrapper {
            @include flexbox();
            width: 100%;
            background: transparent;
            padding: .4em 0;
        }

        &__search {
            @include flexbox();
        }

        &__searchResult {
            color: #000;
            padding-bottom: .4em;
            width: 100%;
            margin-top: .1em;
            height: max-content;
            text-decoration: none;

            &:hover {
                background: $foregroundColor;
            }
        }

        &__clearSearchKey {
            font-size: 1.3rem;
            color: #000;
            margin-right: .4em;

            &:hover {
                cursor: pointer;
            }
        }

        &__userContainer {
            padding: 0 .8em;
        }

        &__searchBar {
            background: transparent;
            border: none;
            outline: none;
            width: inherit;
            padding-right: 1.2em;
        }

        &__resultDivider {
            opacity: 0.08;
        }

        &__searchIcon {
            color: #000;    
            font-size: 1.4rem;
            margin: 0 .4em;

            &:hover {
                cursor: pointer;
            }
        }

        &__userAvatar {
            width: 40px;
            margin-left: 1em;
        }

        &__nav {
            display: contents;
            color: #fff;

            ul {
                margin: 0;
                display: flex;
            }

            li {
                padding: 0;
                width: 6em;
            }
        }

        &__item {
            margin: 0 1em;
            font-size: 1rem;
        }

        &__list {
            width: 90%;
        }

        &__userIcon,
        &__profileContainer,
        &__close,
        &__item[href='/contact'],
        &__item[href='/faq'] {
            display: none;
        }

        &__button--signin {
            display: unset;
            border-radius: 25px;
            width: 8em;
        }

        &__logout {
            display: none;
        }

        &__menu-icon {
            display: none;
            font-size: 1.8rem;
        }
    }

    @include respond-to('desktop') {
        &__item[href='/contact'],
        &__item[href='/faq'] {
            display: unset;
        }

        // &__content {
        //     width: 60%;
        // }

        &__hero {
            padding: 40em;
        }
    }
}
