@use '../mixins' as *;
@use '../base' as *;
@use '../mixins/buttons' as *;

.hero {
    @include flexbox($justify-content: center);
    height: 90vh;
    padding-top: 3em;

    &__left {
        width: 80%;

        &__title {
            width: 10em;
            font-size: 2rem;
            font-weight: 900;
            margin: 0;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                border: 4px solid $secondaryColor;
                background-color: $secondaryColor;
                width: 20%;
                top: -10%;
            }
        }

        &__paragraph {
            font-size: 1em;
            margin: 0.6em 0;
            margin-bottom: 1em;
        }
    }

    &__right {
        display: none;
    }

    @include respond-to('tablet') {
        @include flexbox($justify-content: space-around);

        &__left {
            width: 80%;

            &__title {
                width: calc(100% - 10%);
            }

            &__paragraph {
                font-size: 1.4rem;
                margin: 0.4em 0;
                width: 100%;
            }
        }
    }

    @include respond-to('laptop') {
        &__right {
            padding-top: 5em;
            display: unset;
            width: 50%;
            background-image: url('../../assets/heroImage.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 100%;
        } 

        &__left {
            width: 40%;
            padding-left: 5em;

            &__title {
                width: 100%;
                font-size: 2rem;
            }

            &__paragraph {
                font-size: 1.2rem;
                margin: 0.4em 0;
                width: 100%;
            }
        }
    }

    @include respond-to('desktop') {
        &__right {
        }

        &__left {

            &__title {
                width: 100%;
                font-size: 3rem;
            }

            &__paragraph {
                font-size: 1.4rem;
                margin: 0.4em 0;
                width: 100%;
            }
        }
    }
}
