@use '../base/color' as *;
@use '../base/' as *;
@use '../mixins/_flexbox.scss' as *;
@use '../mixins/_respond.scss' as *;

.select {
    @include respond-to('mobile') {
        @include flexbox($justify-content: unset);
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
        background-color: red;
        width: 80%;
        display: none;
        position: relative;
        z-index: 5;

        &:hover {
            cursor: pointer;
        }

        &__selected p {
            margin: 0;
        }
     
        &__selected {
            @include flexbox($justify-content: space-between);
            width: 100%;
            padding: .5em .8em;
            border: 2px solid black;
            border-radius: 20px;

            
            &__icon {
                font-size: 1.2rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__options {
            width: 100%;
            height: max-content;
            overflow-y: scroll;
            overflow-x: hidden;
            border: 0 0 50px 50px;

            p {
                padding: .6em .8em;
                margin: 0;
            }

            p:hover {
                background: rgba(0, 0, 0, 0.3);
                transform: scaleX(1.02);
                transition: transform .500s ease-in-out;
            }

            &__optionsDivider {
                opacity: 0.05;
                padding: 0;
                margin: 0;
            }
        }
    }

    @include respond-to('tablet') {
    }

    @include respond-to('laptop') {
        width: 30%;
        display: unset;
        background: $primaryColor;
        box-shadow: none;
        height: max-content;
        transition: height 500ms ease-in-out;

        &__options {
            height: 70vh;
            width: 100%;
            margin-top: .2em;
            overflow-y: auto;
            background: $primaryColor;
            position: absolute;
            border: .8px solid rgba(255, 255, 255, 0.05);
            transition: height 500ms ease-in-out;
            border-radius: 20px;
        }
    }

    @include respond-to('desktop') {
    }
}
