@use '../mixins' as *;

.skeletonWrapper {
    margin-bottom: .8em;
    width: 100%;
    z-index: 4;
}

.sleftColumn {
    width: max-content;
}

.srightColumn {
    @include flexbox();    
    justify-content: unset;
    flex-direction: column;
    width: 50%;
}

.sname {
    width: 50%;
}

.stitle {
    width: 30%;
}

.skeletonHeader {
    @include flexbox();    
    justify-content: unset;
    gap: .2em;
}

.spost {
    width: 30%;
}
