@mixin hoverEffect($b-color, $padding, $margin: .6em) {
    background-color: $b-color;
    color: #fff;
    margin: $margin;
    padding: $padding;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 200ms ease-in;
    width: 100%;

    &:hover {
        cursor: pointer;
        background: rgb(225, 225, 225);
        color: #000;
    }
}

@mixin shadedButton($padding: .6em, $border: 4px) {
    background: #4776E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    padding: $padding;
    border: none;
    font-weight: bold;
    border-radius: $border;
}
