@mixin buttonHover($bgColor, $padding, $margin: .6em, $radius: 3em) {
    background-color: $bgColor;
    color: #fff;
    margin: $margin;
    padding: $padding;
    border: none;
    border-radius: $radius;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 200ms ease-in;

    &:hover {
        cursor: pointer;
        background: rgb(225, 225, 225);
        color: #000;
    }
}
