.checkboxContainer {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 40px;
}

.checkboxContainer input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #ccc;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: '';
    width: 36px;
    height: 36px;
    background: #fff;
    left: 2px;
    bottom: 2px;
    top: 2px;
    right: 2px;
    border-radius: 50%;
    transition: 0.4s;
}

.checkboxContainer input:checked + .slider {
    background: blue;
    transition: 0.6s;
}

.checkboxContainer input:checked + .slider::before {
    transform: translateX(50px);
}
