// Center elements on the center 
@mixin flexbox($direction: row, $justify-content: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: center;
    flex-direction: $direction;
}