@mixin inputField($padding, $border, $inputRadius, $margin: .6em) {
    width: 100%;
    margin: $margin;
    padding: $padding;
    outline: none;
    border: $border;
    border-radius: $inputRadius;
}

@mixin formContainer {
    border-radius: .3em;
    padding: 2em;
    background: #fff;
}
