@mixin inputField($padding, $margin: .6em) {
    width: 100%;
    margin: $margin;
    padding: $padding;
    outline: none;
    border: none;

    &::placeholder {
        font-weight: bold;
    }
}

@mixin formContainer {
    border-radius: .3em;
    padding: 2em;
    background: #fff;
  
}