@use '../base/_color.scss' as *;

@mixin tooltip($ttBg: white, $textColor: black) {
    &__tooltipContainer {
        position: relative;
    }

    &__tooltipContainer:before,
    &__tooltipContainer:after {
        position: absolute;
        content: '';
        display: none;
        transition: all 0.4s ease;
    }

    &__tooltipContainer:before {
        border-width: 10px 8px 0 8px;
        border-style: solid;
        border-color: $ttBg transparent transparent transparent;
        z-index: 1000;
        top: -10px;
        transform: translateY(20px);
        box-shadow: 5px 5px 8px rgba(0, 0, 0, .1);
    }

    &__tooltipContainer:after {
        content: attr(data-tooltip);
        background: $ttBg;
        color: $textColor;
        font-size: .7rem;
        padding: .5em .7em;
        border-radius: 5px;
        transform: translateY(20px);
        width: 130px;
        height: max-content;
        bottom: 30px;
        left: -10px;
        z-index: 1001;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, .1);
    }

    &__tooltipContainer:hover::before,
    &__tooltipContainer:hover::after {
        display: unset;
        transform: translateY(-2px);
    }
}

