// Theme colors
$primaryColor: #181818;
$secondaryColor: #5C258D;
$foregroundColor: #222222;

// Gradients with Accessibilty
$bgGradientFB: #4776E6;  /* fallback for old browsers */
$bgGradient0: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
$bgGradient1: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

