// Theme colors
$primaryColor: #0F2027;;
$secondaryColor: #5C258D;
$foreground: #1c1c1c;

// Gradients with Accessibilty
$bgGradient: #4776E6;  /* fallback for old browsers */
$bgGradient: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
$bgGradient: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

