$text-size: 1.1rem;
$paragraph-size: 1rem;
$text-color: rgb(128, 128, 128);


$colorScheme: (
  bgColor:  rgb(230, 223, 223),
  secondaryColor: rgb(26, 26, 26), 
);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }


  body {
    position: relative;
    font-family: "Open Sans", sans-sefif;
  }

  .signupBtn {
      text-decoration: none;
      font-weight: bold;
      color: white;
      background-color: #000;
      border-radius: .3em;
      padding: 10px 10px;
      margin: 0 auto;
      text-align: center;
    }

 
    .bodyIntro {
      margin: 0 auto;
    }

  .headerContainer {
    position: sticky;
    top: 0;
    background-color: rgb(230, 223, 223);
    color: #fff;
    height: 6vh;
    padding: 10px 10px;
  }

  .navContainer {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 70%;
    z-index: 999;
    max-height: 100%;
    color: #fff;   
  }

  .profilePicture {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 5em;
    border-color: rgb(0, 0, 0);
    border-width: .5px;
    border-style: solid;
    padding-right: px;
  }

  h4 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    box-sizing: content-box;
    font-size: 1.2rem;
  }

  .header {
    padding: 0px 5px;
    bottom: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  .header .login {
    color:rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
  }

  .verge {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 1rem;
  }

  .faBars {
    width: 20px;
    height: 20px;
    color:rgb(0, 0, 0)
  }

  .icons {
    display: flex;
    align-items: center;
    color:rgb(0, 0, 0);

    
      .notifications {
        height: 30px;
        width: 20px;
        padding: 10px;
      }
      .inbox {
        height: 30px;
        width: 20px;
      }
   }

  .faSearch {
      width: 20px;
      height: 20px;
      color: #000;
    }

    .filteredSearch {
      display: flex;
      align-items: center;
    }

    .navMenu {
      height: 100vh;
      width: 70%;
      background-color: rgb(17, 15, 15);
      color: rgb(255, 255, 255);
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      font-size: .8rem;

      .times {
        padding-top: 10px;        
        display: block;

        .close {
          height: 30px;
          width: 30px;
          float: right;
          padding-right: 10px;
        }
      }

      .dashboard {
        display: flex;
        color: #fff;
        padding: 10px 20px;
        margin-top: 0;                                                                                                                                                                                                                                                                                                                                                      

        .subProfile {
          display: flex;
          align-items: center;

          h4 {
            font-size: 1em;
            margin: 0 0 .4em 0;
            padding: 0;
          }

          
          .profileImage {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }


          a {
            background-color: rgb(54, 54, 54);
            color: #fff;
            text-decoration: none;
            padding: 4px 12px;
            border-radius:4px;
            font-weight: bold;
            font-size: 1em;
            display: inline-flex;
          }
        }
      }

      .menuLinksContainer {
        color: #fff;
        text-decoration: none;
      }

      .navItems, .navItems1 {
        padding-left:  20px;
        color: #fff;
        list-style-type: none; 
        font-size: $text-size;  
        
        li {
         margin-bottom: 15px;
         margin-left: .43em;
        text-decoration: none;
        }

        .menuL {
          display: flex;
          align-items: center;
          margin-left: .43em;
          font-size: 1.1rem;
          padding: .5rem;
          
          a {
            text-decoration: none;
            color: white;
            margin-left: .8rem;
          }
        }
      }
    }

    .bodyIntro {
      padding:8px;

      .searchBox {
        position: relative;
        border-width: 1px;
        border-radius: 30px;
        border-style: solid;
        padding: 8px 10px;
        font-size: .8rem;
        width: 75%;
        outline: none;
      }

      .searchIcon {
        position: absolute;
      }

      .searchBtn {
        position: absolute;
        font-weight: 800;
        border-style: none;
        outline: none;
        background: none;
        padding: 20px;
        float: right;
      }

      .filterOptions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dropDownFilter {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .dropDownFilter p {
          font-size: .8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .selectors {
          width: 80px;
          height: 20px;
          overflow: unset;
        }
      }

        .newsFeed {
          background-color: rgb(241, 241, 241);
          padding: 10px;
          font-size: .6rem;
          border-radius: 5px;
          margin: 10px;
          border: 1px solid rgba(151, 151, 151, 0.473);

          .userDetails h3 {
            font-size: .7rem;
            font-weight: 800;
            margin: 0px;
          }
        }

        .companyName {
          font-weight: 800;
          
        }

        .companyName p {
          font-size: .4rem;
          
        }

        .userDetails {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          max-width: 100%;

          .group {
            display: inherit;
            align-items: center;
            margin: 0;
          }
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

        .faEllipsis {
          top: 0;
          right: 0;
          width: 12px;
          height: 12px;
        }
        
        .userName {
          padding-left: 10px;

          h3 {
            font-size: $text-size;
          }
        }

        .userName p { 
          margin: 0px;
         }

         .userName p  { 
          font-size: .8rem;
         }

         .post .para { 
          padding: 0px 10px;
          font-size: $paragraph-size;
          margin: 0;
         }
    }

    .stats-container {
      .stats {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;

        .stats span { align-items: center; }
      }

      .docAttachments {
        color: $text-color;
        text-decoration: none;
      }

      .rate { 
        font-size: 1.2em;
        font-weight: bold; 
      }

      .companyProfile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .8em;

        .actionBtn {
          display: flex;
        }

        .sendProposal {
          text-decoration: none;
          background-color: rgb(40, 41, 37);
          color: rgb(255, 255, 255);
          padding: 8px 12px;
          font-weight: 700;
          font-size: 1em;
          border-radius: .5em;
          border: none;
          text-transform: uppercase;
          right: 0;
          text-align: center;
      }

      .viewPost {
          text-decoration: none;
          background-color: rgb(219, 219, 219);
          color: rgb(255, 255, 255);
          padding: 5px 10px;
          font-weight: bold;
          font-size: .2em;
          color: #000;
          border-radius: .5em;
          border: 1px solid black;
          text-transform: uppercase;
          right: 0;
          margin-right: .6em;

          .bookmark {
            margin-right: .2em;
          }
        }
      }
    }

    .searchContainer {
      padding: 5px;
      background-color: #999999ff;
      z-index: -1;
      bottom: 0;
      position: fixed;
      width: 100%;

      .searchBar {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 auto;

        .search {
          position: absolute;
          top: 10%;
          right: 10px;
          font-size: 1.2rem;
          z-index: 1;
          transform: rotateY('90%');
          color: #999999ff;
        }
      }

      .searchBar input[type=text] {
        padding: 10px 15px;
        border-radius: 2rem;
        outline: none;
        border: none;
        width: 100%;
        background-color: #f1f1f1;
        box-sizing: border-box;

      }
    }

    .profileImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid;
    }

    .tabs { 
      .tabsItem {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin: .4rem 0;
        font-weight: bold;
        align-items: center;
        padding: 0;

        li:first-child {
          background-color: $text-color;
          padding: .4rem 1.2rem;
          border-radius: 4rem;
          color: #fff;
        }
      }
    }

    .chatContainer {
       background-color: rgb(209, 209, 209);
      padding: 8px;

      
      .chat {
        display: flex;
        align-items: center;
        padding: .3rem 0;
        margin: 4px 0;
        border-bottom: .2px rgb(128, 128, 128) solid;
        
        img, .personDetails, .profileNames, p {
          margin: 0;
        }

        .profileNames {
          font-weight: 600;
        }

        p { 
          font-size: .8rem;
          color: black;
         }
        
        .personDetails {
          padding-left: .8rem;
        }
    }
  }

  .dropDownArrowContainer {
    border-radius: 5px;
    margin-top: 5px;
    padding: .2rem .4rem;
    background-color: rgba(158, 158, 158, 0.253);
    


     .aarrowDown {
       margin: 2px auto;
       text-align: center;
       font-size: 1rem;

     } 

     .icon {
       position: absolute;
       z-index: 999;
       font-size: 1rem;
       right: 4rem;
      //  background: rgb(36, 35, 35);
      //  color: #fff;
       padding: 1rem;
     }

     .data {
       display: none;
     }

    //  .compData {
    //  }

    .dataContainer {
        .actualData {
          .dataList {
            list-style-type: none;
            margin: 0;
            padding: .4rem;
            border-radius: 5px;

            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 4px .4rem;
              font-size: .8rem;
              border-radius: 5px;
              margin: 2px 0;

            }

            li:nth-child(odd) {
              background: rgb(189, 189, 189);
            }

            li:nth-child(even) {
              background: #fff;
            }
          }
        }
    }
      
      input {
        border-radius: 1rem;
        width: 100%;
        border: none;
        padding: 10px 15px;
        outline: olivedrab;
        position: relative;
      }

      .replyIcon {
        position: absolute;
        z-index: 999;
        font-size: 1rem;
        right: 10px;
        top: 20%;
      }
  }
