@use '../base/_color.scss' as *;
@use '../base' as *;
@use '../mixins/' as *;

.faq {
    @include respond-to('mobile') {
        &__intro {
            @include flexbox();
            flex-direction: column;
            padding: 5em;
            background: $secondaryColor;
        }

        &__tooltipContainer {
            @include tooltip();
        }

        &__paragraph {
            display: none;
        }

        &__h3 {
            font-size: 1.5rem;
            margin: 0;
        }

        &__questionsContainer {
            @include flexbox();
            flex-direction: column;
            padding: 1.5em .5rem;
        }

        &__question {
            @include flexbox($justify-content: space-between);
            gap: 1em;
            padding: .8em .4em;
            margin: 0;
            transition: all 0.4s ease-in-out 0.4s;
            border: 1px solid rgba(255, 255, 255, 0.05);

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.05);
            }
        }

        &__icon {
            font-size: 1.2rem;
        }

        &__answer {
            background: $foregroundColor;
            margin: 0;
            padding: .8em;
        }
    }

    @include respond-to('tablet') {

    }

    @include respond-to('laptop') {
        &__questionsContainer {
            @include flexbox();
            width: 100%;
        }

        &__h3, &__paragraph {
            text-align: center;
        }

        &__h3 {
            font-size: 2rem;
            margin-bottom: 1.5em;
        }

        &__paragraph {
            font-size: 1rem;
            padding-bottom: 1em;
        }

        &__search {
            width: 100%;
            border-radius: 30px;
            font-size: 1.4rem;
        }

        &__search > * {
            width: 100%;
            font-size: 1.4rem;
        }

        &__searchWrapper {
            width: 100%;
            font-size: 1.4rem;
            margin: .9em 0;
        }

        &__searchResultContainer {
            position: absolute;
            background: #fff;
            border-radius: inherit;
            width: inherit;
            margin-top: .6em;
            color: #000;
            font-size: 1.4rem;
        }

        &__questionsContainer {
            @include flexbox();
            flex-direction: column;
            width: 100%;
            padding: 3em 0;
        }

        &__questionsContainer .container {
            width: 70%;
        }

        &__questionInner {
            width: 100%;
        }

        &__questionInner > * {
            width: 100%;
        }

        &__question {
            @include flexbox($justify-content: space-between);
            padding: .8em .4em;
            margin: 0;
            transition: 0.4s;
            width: 100%;

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.05);
            }
        }

        &__answer {
            background: $foregroundColor;
            margin: 0;
            padding: .8em;
        }
    }
}
