@use '../mixins/' as *;
@use '../base/color' as *;
@use '../base/typography' as *;

.feed {
    margin: 0.4em;
    @include flexbox();
    flex: 1;
    gap: 3em;

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        padding: 0;
        margin: 0;
    }

    @include respond-to('mobile') {
        &__feedContainer {
            position: relative;
        }

        &__loader {
            @include flexbox();
            height: 90vh;
        }

        &__list {
            width: 100%;
            background-color: $foregroundColor;
            padding: 0.6em;
            border-radius: 0.4em;
            margin-bottom: 0.8em;
        }

        &__firstRow {
            @include flexbox($justify-content: space-between);
            margin-bottom: 0.8em;
        }

        &__profile {
            @include flexbox();
            gap: 0.4em;
        }

        &__profileImage {
            width: 50px;
            border-radius: 100%;
            border: 1px solid rgb(82, 82, 82);
        }

        &__name {
            font-size: 1rem;
            font-weight: 500;
        }

        &__title {
            font-size: 0.8rem;
        }

        &__recent {
            font-size: 0.8rem;
            align-self: flex-start;

            &:hover {
                cursor: pointer;
            }
        }

        &__options {
            align-self: flex-start;
            font-size: 1.2rem;
        }

        &__listContent {
            font-size: 0.9rem;
            margin-bottom: 0.1em;
        }

        &__lastRow {
            margin-top: 0.8em;
        }

        &__stats {
            @include flexbox($justify-content: space-between);

            &__bookmarks {
                @include flexbox();
                @include buttonHover(
                    $bgColor: $primaryColor,
                    $padding: 0.4em 1em,
                    $margin: 0
                );
                background-color: $primaryColor;
            }
        }

        &__starIcon {
            font-size: 1.2rem;
            margin-right: 0.4em;
        }

        &__sidebar,
        &__followers {
            display: none;
        }

        &__postField {
            position: absolute;
            padding: .6em .6em;
            background-color: black;
            width: 100%;                                                    
            height: max-content;
            z-index: 2;
            border-radius: 5px;
        }

        &__create,
        &__postField {
            position: fixed;
            bottom: 0;


            &__post {
                @include buttonHover(
                    $bgColor: $secondaryColor,
                    $padding: 0.8em 1.4em
                );
            }
        }

        &__textarea {
            background-color: $foregroundColor;
            border: none;
            outline: none;
            column-rule-style: dotted;
            color: #fff;
            font-family: $font-family;
            font-weight: 500;
            font-size: .9rem;
            width: 100%;
            max-height: 40%;
            border-radius: 5px;  
            padding: .4em .8em;
        }

        &__textarea::placeholder {
            color: #fff;
            font-family: $font-family;
            font-weight: 500;
        }

        &__imagePreview {
            width: 200px;
        }

        &__btnGroup {
            @include flexbox($justify-content: space-between);
        }

        &__image {
            margin-right: .8em;
        }

        &__image, &__video {
            opacity: .4;

            &:hover {
                cursor: pointer;
            }
        }

        &__left {
            @include flexbox();
            font-size: 1.6rem;
        }

        &__btn--cancel {
            @include buttonHover($bgColor: transparent, $padding: .4em 0.8em);
            margin: 0;
        }

        &__btn--post {
            @include buttonHover($bgColor: $foregroundColor, $padding: .4em 1.4em);
            border: .6px solid #fff;

        }
    }

    @include respond-to('laptop') {
        &__sidebar,
        &__followers {
            display: unset;
        }
    }
}
