@use '../mixins/' as *;
@use '../mixins/' as *;
@use '../base/color' as *;
@use '../base/typography' as *;

.feed {
    margin: .4em;
    @include flexbox($justify-content: center);
    align-items: unset;
    flex: 1;
    position: relative;

    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
        padding: 0;
        margin: 0;
    }

    @include respond-to('mobile') {
        &__feedContainer {
            position: relative;
            width: 100%;
        }

        &__feedWrapper {
            width: 100%;
        } 

        &__list {
            width: 100%;
            background-color: $foregroundColor;
            padding: 0.6em;
            border-radius: 0.4em;
            margin-bottom: 0.5em;
        }

        &__firstRow {
            @include flexbox($justify-content: space-between);
            margin-bottom: 0.6em;
        }

        &__profile {
            @include flexbox();
            align-items: center;
            gap: 0.4em;
            line-height: 15px;
        }

        &__profileImage {
            @include avatar($width: 50px);
            border-radius: 100%;
            border: 1px solid rgb(82, 82, 82);
        }

        &__name {
            display: flex;
            gap: .2em;
            align-items: center;
            font-size: .9rem;
            font-weight: 500;
        }

        &__title {
            font-size: 0.8rem;
        }

        &__recent {
            font-size: 0.8rem;
            align-self: flex-start;
        }

        &__optionsContainer {
            background: white;
        }

        &__line {
            opacity: 0.1;
        }

        &__postOptions {
            width: 100%;
            align-self: flex-start;
            font-size: 1.2rem;
        }

        &__options {
            align-self: flex-start;
            font-size: 1.2rem;
        }

        &__listContent {
            @include fontSize();
            margin-bottom: 0.8em;
            line-height: 16px;
            text-decoration: none;
            color: #fff;
            white-space: pre-line;
        }

        &__lastRow {
            margin-top: 0.8em;
        }

        &__stats {
            @include flexbox($justify-content: space-between);

            &__bookmarks {
                @include flexbox();
                @include buttonHover(
                    $bgColor: none,
                    $padding: 0.2em .8em,
                    $margin: 0
                );
                background-color: $primaryColor;
            }
        }

        &__starIcon {
            font-size: .8rem;
            margin-right: 0.4em;
        }

        &__sidebar,
        &__leftColumn {
            display: none;
        } 

        &__postFieldWrapper {
            @include flexbox();
            top: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
            left: 0;
            width: 101%;
            height: 100vh;
            z-index: 31;
            background: rgba(256, 255, 255, .2);
            backdrop-filter: blur(11px);
            -webkit-backdrop-filter: blur(10px)           
        }

        &__imageContainer {
            @include flexbox($justify-content: unset);
        }

        &__imagePreview {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border: 1px solid #fff;
            border-radius: 4px;
            margin: 5px 5px;
            
            &:hover {
                cursor: pointer;
            }
        }

        &__postImage {
            object-fit: cover;
            width: 100%;
            margin-top: 1.2em;
            border-radius: 6px;
            max-height: 300px;
        }

        &__addImage { 
            @include flexbox();
            width: 80px;
            height: 80px;
            border: 1px dashed #fff;
            border-radius: 4px;
            margin: 5px 5px;
            
            &:hover {
                cursor: pointer;
            }
        }

        &__plus {
            font-size: 1.6rem;
        }

        &__postField {
            position: absolute;
            padding: 0.6em 0.6em;
            background-color: black;
            width: 100%;
            height: max-content;
            z-index: 5;
            border-radius: 5px;
        }

        &__optionsModal {
            @include flexbox();
            position: fixed;
            top: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 30;
            background: rgba(256, 255, 255, .2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(8px);
        }

        &__modal {
            @include flexbox($justify-content: space-between);
            flex-direction: column;
            align-items: center;
            background-color: black;
            position: relative;
            width: 90%;
            height: max-content;
            padding: 1em;
            border-radius: 10px;
            z-index: 31;
        } 

        &__btnContainer {
            @include flexbox();
            width: 100%;
        }

        &__modal--delete {
            @include buttonHover($bgColor: $foregroundColor, $padding: .6em 1em);
            width: 100%;
        }

        &__modalClose {
            @include flexbox();
            position: absolute;
            margin: 0.2em;
            font-size: 1.4rem;
            top: 0;
            right: 0;
            padding: 0.4em;
            border-radius: 50%;

            &:hover {
                cursor: pointer;
            }

            &:active {
                background-color: $foregroundColor;
            }
        }

        &__optionItem {
            @include flexbox($justify-content: unset);

            &:hover {
                cursor: pointer;
                background: $primaryColor;
            }
        }

        &__postFieldContainer {
            @include flexbox();
        }

        &__create {
            @include flexbox();
            align-items: center;
            width: 100%;
            left: 0;
            z-index: 10;
        }

        &__postField {
            left: 0;
        }

        &__create,
        &__postField {
            position: fixed;
            bottom: 0;

            &__post {
                @include buttonHover(
                    $bgColor: $secondaryColor,
                    $padding: 0.8em 1.4em
                );
            }
        }

        &__textarea {
            background-color: $foregroundColor;
            border: none;
            outline: none;
            column-rule-style: dotted;
            color: #fff;
            font-family: $font-family;
            font-weight: 500;
            font-size: 0.9rem;
            width: 100%;
            max-height: 40%;
            border-radius: 5px;
            padding: 0.4em 0.8em;
        }

        &__textarea::placeholder {
            color: #fff;
            font-family: $font-family;
            font-weight: 500;
        }

        &__imagePreview {
            width: 200px;
        }

        &__btnGroup {
            @include flexbox($justify-content: space-between);
        }

        &__image {
            margin-right: 0.8em;
        }

        &__image,
        &__video {
            opacity: 0.4;

            &:hover {
                cursor: pointer;
            }
        }

        &__left {
            @include flexbox();
            font-size: 1.6rem;
        }

        &__btn--cancel {
            @include buttonHover($bgColor: transparent, $padding: 0.4em 0.8em);
            margin: 0;
        }

        &__btn--post {
            @include buttonHover(
                $bgColor: $foregroundColor,
                $padding: 0.4em 1.4em
            );
            border: 0.6px solid #fff;
        }

        &__notFoundWrapper {
            @include flexbox();
            flex-direction: column;
            height: 100vh;
            padding: 2rem;
        }

        &__notFound {
            @include flexbox();
            flex-direction: column;
        }

        &__notFoundSVG {
            width: 30%;
            height: auto;
        }

        &__goBack {
            @include buttonHover($bgColor: $secondaryColor, $padding: .8rem 1.2rem, $margin: .5rem 0);
        }

        &__mainContent {
            width: 100%;
        }
    }

    @include respond-to('laptop') {
        &__mainContent {
            @include flexbox();
            align-items: unset;
            width: 100%;
        }

        &__sidebar,
        &__rightColumn {
            display: unset;
        }

        &__postField {
            position: unset;
            margin-bottom: 1em;
        }

        &__create {
            display: none;
            position: fixed;
            left: 0; 
            display: none;
        }

        &__sidebar, &__rightColumn {
            background: $foregroundColor;
            border-radius: $radius;
            padding: 0;
            height: max-content;
            width: 20%;
            z-index: 2;
            position: sticky;
            top: 0;
        }

        &__rightColumn {
            // border: 1px solid rgba(255, 255, 255, 0.1);
        }

        &__navContainer {
            padding: 0;
            margin: .8em 0;;
        }

        &__sidebar {
            padding: .1em;
            background: none;
            
        }
        
        &__sidebarLinks {
            list-style: none;
            padding: 0;
        }

        &__sidebarAvatar {
            @include avatar($width: 1em);
            border: .2px solid white;
        }

        &__counter {
                @include flexbox($justify-content: space-between);
        }

        &__sidebarLinks li {
            @include flexbox($justify-content: unset);
            gap: .6em;
            padding: .6em;

            &:hover {
                background: $foregroundColor;
                cursor: pointer;
                border-radius: $radius;

            }
        }

        &__sidebarLinks li a {
            @include flexbox($justify-content: unset);
            gap: .6em;
            text-decoration: none;
            color: #fff;

            &:hover {
                background: $foregroundColor;
                cursor: pointer;
                border-radius: $radius;

            }
        }

        &__dashboardContainer {
            padding: 0 .4em;
        }

        &__dashboardContainer h6 {
            text-transform: uppercase;
            font-size: .9rem;
            padding: 0;
            margin: .8em;
            opacity: 0.2;
        }

        &__followGroup {
            @include flexbox();

            &:hover {
                background: $foregroundColor;
            }
        }


        &__followBtn {
            @include buttonHover($bgColor: $secondaryColor, $padding: .8em .8em);
            border-radius: 5px;
            font-size: .8rem;
        }

        &__followerTitle {
            font-size: .8rem;
        }

        &__profileWrapper {
            padding: 1rem;
        }

        &__profileCover {
            background: purple;
            width: 100%;
            height: 80px;
            border-radius: 5px 5px 0 0;
            z-index: 4;
        }

        &__profileAvatar {
            width: 100px;
            height: auto;
            margin-top: -20%;
            border: 2px solid $foregroundColor;
            border-radius: 50%;

        }

        &__cardNames {
            @include flexbox();
            flex-direction: column;
            margin-top: -10%;
        }

        &__toProfile {
            @include flexbox();
        }

        &__bio {
            margin: .8rem 0;
        }

        &__fullProfile {
            @include buttonHover($bgColor: $secondaryColor, $padding: .5em .9em, $margin: .2em 0);
            width: 100%;
        }

        &__feedWrapper {
            width: 40%;
        }

        &__list {
            width: 100%;
        }

        &__modal {
            width: 40%;
        }
    }
}
