@use '../mixins/' as *;
@use '../base/color' as *;
@use '../base/typography' as *;

* {
    box-sizing: border-box;
}

.register {
    @include flexbox();
    flex-direction: column;
    height: 90vh;

    @include respond-to('mobile') { 
        &__selectOccupation {
            position: relative;
            background: transparent;
            border-radius: 20px;
            border: 1px solid #000;
        }

        &__introHeader {
            font-weight: 300;
            font-size: 1.2rem;
            width: 60%;
            margin: 1em;
            text-align: center;
        }
        &__container {
            display: flex;
            flex-direction: column;
            background-color: #fff;
            height: min-content;
            width: 90%;
            border-radius: $radius;
            padding: 1.8em 1.6em;
        }

        &__formContainer {
            @include flexbox();
            margin: 2em 0;
        }

        &__header {
            font-size: 1rem;
            text-align: center;
            margin-bottom: .8em;
        } 

        &__radioContainer {
            display: flex;
            gap: 1em;
            margin: .4em;
            // @include flexbox($justify-content: unset);
        }

        &__btnContainer {
            @include flexbox();
            gap: .4em;
        }

        &__avatar {
            position: relative;
            border: 1px solid #fff;
            border-radius: 50%;
            width: 80px;
            height: 80px;
            object-fit: cover;
            background-size: cover;
            z-index: 2;
        }

        &__avatarOuterContainer {
            @include flexbox();

        }

        &__avatarLayer {
            position: absolute;
            background-color: white;
            opacity: 0.2;
            width: 100%;
            z-index: 1;
        }

        &__radio {
        }

        &__select {
            @include flexbox($justify-content: unset);
            flex-direction: column;
            border-radius: 20px;
            box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
            width: 80%;
            display: none;
            position: relative;
            z-index: 5;
        }

        &__selected {
            @include flexbox($justify-content: space-between);
            width: 100%;
            padding: .8em .8em;

            
            &__icon {
                font-size: 1.2rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__options {
            width: 100%;
            height: 40vh;
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
            background: $foregroundColor;
            border: 1px solid #000;
            color: #fff;
            border-radius: 20px;
            margin-top: .4em;
            z-index: 999;

            &__option {
                padding: .6em .8em;
                margin: 0;
            }

            &__option:hover {
                background: rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transform: scaleX(1.02);
                transition: transform .500s ease-in-out;
            }

            &__optionsDivider {
                opacity: 0.05;
                padding: 0;
                margin: 0;
            }
        }

        &__genderOptions {
            width: 100%;
            height: max-content;
            overflow-y: scroll;
            overflow-x: hidden;
            position: absolute;
            background: $foregroundColor;
            border: 1px solid #000;
            border-radius: 20px;
            margin-top: .4em;
            z-index: 999;
            color: #fff;

            &__option {
                padding: .6em .8em;
                margin: 0;
            }

            &__option:hover {
                background: rgba(0, 0, 0, 0.3);
                cursor: pointer;
                transform: scaleX(1.02);
                transition: transform .500s ease-in-out;
            }

            &__optionsDivider {
                opacity: 0.05;
                padding: 0;
                margin: 0;
            }
        }

        &__occupations {
            background: black;
            border: 1px solid black;
        }

        &__emailField {
            @include inputField(
                $padding: 0.4em 0.8em,
                $margin: 0.2em 0 0.6em,
                $border: 1px solid #000,
                $inputRadius: 2em
            );
            font-size: 1rem;
            box-sizing: border-box;

            &:focus {
                background-color: rgba(0, 0, 0, 0.227);
                border: none;
            }
        }

        &__errorMessage {
            color: red;
            margin: 0;
        }
        
        &__accountInfo {
            margin-top: 3em;
        }

        &__button {
            @include buttonHover(
                $bgColor: $secondaryColor,
                $padding: 0.7em,
                $margin: 0
            );
            width: 100%;
            box-sizing: border-box;

            &:hover {
                background-color: #fff;
                box-sizing: border-box;
            }
        }

        &__socials {
            @include flexbox();
        }

        &__socials > * {
            margin: 0 1em;
            // border: 1px solid #000;
            // border-radius: 2em;
            // padding: 1em;
            font-size: 1.4rem;

            &:hover {
                cursor: pointer;
                color: rgb(55, 55, 55);
                // box-sizing: border-box;
                // color: rgb(0, 0, 0);
                transform: scale(1.6);
                transition: transform 50ms ease-in-out 100ms;
            }
        }
        
        &__header {
            font-weight: bold;
            margin-top: 0;
        }

        &__button--register {
            @include buttonHover($bgColor: purple, $padding: .8em, $margin: .2em);
            display: inline-block;
            width: 100%;
            p {
                font-weight: 500;
            }
        }

        &__btnGroup {
            margin-top: 1em;
        }
    }

    @include respond-to('tablet') {
        @include flexbox();

        &__container {
            max-width: 350px;
        }
    }

    @include respond-to('laptop') {
        @include flexbox();
        height: 90vh;

        &__container {
            border-radius: 0.6em;
            max-width: 500px;
            height: max-content;
        }

        &__avatarOuterContainer {
            margin: 1em;
        }

        &__avatarContainer {
            width: 100%;
            height: max-content;
        }

        &__emailField {
            padding: .8em 1.2em;
        }

        &__avatar {
            width: 120px;
            height: auto;
        }
    }
}
