@use '../mixins/' as *;
@use '../base/color' as *;
@use '../base/typography' as *;

* {
    box-sizing: border-box;
}

.register {
    @include flexbox();
    flex-direction: column;
    height: 90vh;

    @include respond-to('mobile') {
        &__introHeader {
            font-weight: 300;
            font-size: 1.2rem;
            width: 60%;
            margin: 1em;
            text-align: center;
        }
        &__container {
            background-color: #fff;
            height: min-content;
            width: 80%;
            border-radius: $radius;
            padding: 2.4em 2em;
        }

        &__header {
            font-size: 1rem;
            text-align: center;
            margin-bottom: 2em;
        }

        &__label {
            font-weight: 500;
        }

        &__radioContainer {
            display: flex;
            gap: 1em;
            margin: .4em;
            // @include flexbox($justify-content: unset);
        }

        &__btnContainer {
            @include flexbox();
            gap: .4em;
        }

        &__radio {
        }

        &__emailField {
            @include inputField(
                $padding: 0.4em 0.8em,
                $margin: 0.2em 0 0.6em,
                $border: 1px solid #000,
                $inputRadius: 2em
            );
            font-size: 1rem;
            box-sizing: border-box;

            &:focus {
                background-color: rgba(0, 0, 0, 0.227);
                border: none;
            }
        }

        &__button {
            @include buttonHover(
                $bgColor: $secondaryColor,
                $padding: 0.7em,
                $margin: 0
            );
            width: 100%;
            box-sizing: border-box;

            &:hover {
                background-color: #fff;
                box-sizing: border-box;
            }
        }

        &__socials {
            @include flexbox();
        }

        &__socials > * {
            margin: 0 1em;
            // border: 1px solid #000;
            // border-radius: 2em;
            // padding: 1em;
            font-size: 1.4rem;

            &:hover {
                cursor: pointer;
                color: rgb(55, 55, 55);
                // box-sizing: border-box;
                // color: rgb(0, 0, 0);
                transform: scale(1.6);
                transition: transform 50ms ease-in-out 100ms;
            }
        }

        &__button--register {
            p {
                font-weight: 500;
            }
        }
    }

    @include respond-to('tablet') {
        @include flexbox();

        &__container {
            max-width: 350px;
        }
    }

    @include respond-to('laptop') {
        @include flexbox();
        height: 90vh;

        &__container {
            border-radius: 0.6em;
            max-width: 400px;
            height: 70%;
        }

        &__label {
            font-weight: 500;
        }
    }
}
