@use '../mixins/' as *;
@use '../breakpoints/' as *;
@use '../base/' as *;

.global {
    opacity: 0.1;
    margin: 0;
}

.supplier {
    @include respond-to('mobile') {
        // flex-direction: column;

        &__previewContainer {
            display: none;
            width: 100%;
            background: $foregroundColor;
            padding: 1em;
            margin-bottom: .4em;
            border-radius: $radius;
        }

        &__innerContainer {
            background: red;
            display: none;
            background: $foregroundColor;
        }
        
        &__filterModal > &__filterContainer {
            display: none;
        }

        &__filterContainr {
            width: 100%;
        }

        &__leftBarContainer {
            width: 25%;
            border-radius: $radius;
        }

        &__filterTitle {
            opacity: 0.6;
            text-transform: uppercase;
            font-weight: bold;
        }

        &__createContainer, &__create {
            display: none;
        }

        &__filterIconGroup {
            position: fixed;
            bottom: 0;
            width: 100%;
            background: $foregroundColor;
            padding: .4em .8em;
            z-index: 29;
            height: 6vh;
        }

        &__filterIconGroup span {
           @include flexbox($justify-content: space-evenly);
            background: $primaryColor;
            padding: .4em .6em;
            height: 100%;
            border-radius: 50px;
        }

        &__filterIconGroup span span {
            @include flexbox();
            flex-direction: column;
        }  

        &__filterIconGroup &__bottomNav a {
            @include flexbox();
            flex-direction: column;
            color: white;
            text-decoration: none;
        }


        &__filterIconGroup &__bottomNav span {
            padding: 0;
            margin: 0;
        }

        &__bottomNav span, a p {
            font-size: .6rem;
        }

        &__icon {
            font-size: 1rem;
        }

        &__plus {
            font-size: 1.8rem;
        }

        &__iconTextGroup > * {
           @include flexbox();
           gap: 1em;
           flex-direction: column;
           background: red;
        }

        &__filterContainer > * {
            display: unset;
        }

        &__filterSearchContainer {
            display: unset;
            z-index: 31;
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 6vh;
        }

        &__selected {
            @include select($backgroundColor: $primaryColor, $selectedColor: white);
        }

        &__options {
            top: 3em;
            background: white;
        }

        &__searchFilter > * {
            display: unset;
        }

        &__searchFilter {
            display: unset;
            position: fixed;
            width: 100%;
            height: 100%;
            z-index: 54543539;
            background: $foregroundColor;
            transition: all 1s ease-in-out;
        }

        &__filterIconGroup span > * {
            &:hover {
                cursor: pointer;
            }
        }

        &__filterIconGroup span p {
            margin: 0;
        }

        &__modal {
            @include flexbox();
            position: fixed;
            top: 0;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 999;
            background: rgba(256, 255, 255, .2);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(8px);
        }

        &__modal > * > &__filterContainer {
            display: unset;
            width: 100%;
            background: rgba(256, 255, 255, .2);
        }

        &__titleDivider {
            opacity: 0.1;
            margin: .8em 0;
        }

        &__locationInputs {
                width: 100%;

            &__location {
                width: 100%;

                &__city, &__zip {
                    @include inputField($padding: .8em 1em, $border: none, $inputRadius: 20px);
                    display: block;
                    background: $primaryColor;
                    color: #fff;
                    font-weight: bold;
                    margin: .6rem 0;
                }
            }
        }

        &__another {
            display: block;
        }
        &__resultContainer {
            background: $foregroundColor;
            height: max-content;
        }

        &__responseContainer {
            @include flexbox();
            flex-direction: column;
            text-align: center;
            height: 80vh;
            padding: 0 2em;
        }

        &__retryButton {
            @include buttonHover($bgColor: $primaryColor, $padding: .4em .8em);
            border: 1px solid white;
        }

        &__supplierPost {
            @include flexbox($justify-content: unset);
            align-items: unset;
            padding: .6em;
            margin: .4em 0;
        }

        &__names {
            @include flexbox($justify-content: unset);
            flex-direction: column;
            align-items: unset;
            gap: .4em;
            margin: 0;
            padding: 0;
            margin-left: .5em;
        }


        &__details {
            font-size: .8rem;
        }

        &__detailsGroup > p {
            font-size: .8rem;
        }

        &__moreDetails {
            position: absolute;
        }

        &__detailsGroup {
            @include flexbox($justify-content: unset);
        } 

        &__detailsGroup span {
            margin-left: .3em;
            align-self: start;
        }

        &__detailsGroup span > p {
            margin: 0;
            padding: 0;
        }

        &__supplierName {
            font-size: 1rem;
            font-weight: 600;
            padding: 0;
            margin: 0;
        }

        &__type, &__something {
            @include flexbox($justify-content: unset);
            gap: .1rem;
            font-size: .7rem;
        }

        &__tags {
            display: inline-block;
            width: max-content;
            font-size: .7rem;
            padding: .4em .6em;
            background: $primaryColor;
            border-radius: 5px;
        }

        &__about {
            font-size: .8rem;
            margin: .2em;
        }
        
        &__profilePicture {
            @include avatar($width: 45px);
            align-self: start;
            border: none;
            border-radius: 0px;
        }

        &__search--button {
            @include buttonHover($bgColor: $primaryColor, $padding: .5em);
            width: 100%;
            margin: .6em 0;
        }

        &__more {
            @include flexbox($justify-content: space-between);
            padding: 0 .8em;
            height: 2em;
        }

        &__viewMore {
            @include flexbox();
            color: #fff;
            text-transform: uppercase;
            gap: .3em;
            font-weight: 500;
            margin: 0;
            text-align: center;
            text-decoration: none;
            font-size: .8rem;
            border-radius: 0px;

            &:hover {
                cursor: pointer;
            }
        }

        &__likeBtn {
            &:hover {
                cursor: pointer;
            }
        }

        &__reactButtons {
            @include flexbox();
            gap: .6em;
        }

        &__skeletonContainer {
            @include flexbox();
            flex-direction: column;
            width: 100%;
        }

        &__skeletonCard {
            @include flexbox();
            width: 100%;
            align-items: unset;
            flex-direction: column;
            gap: .6em;
            flex: 1;
            margin: .4em .6em;
            border: 1px solid rgba(255, 255, 255, 0.02);
            border-radius: 5px;
            padding: .4em;
            overflow-y: none;
        }
 

        &__reactButtons > span {
            @include flexbox();
            gap: .4em;
            font-size: .9rem;
            background: $primaryColor;
            padding: .3em .8em;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
                color: #000;
                background: #fff;
                transform: scale(1);
            }
        } 

        &__payNow {
            @include buttonHover($bgColor: $secondaryColor, $padding: .6em 1em);
            font-size: .8rem; margin: 0;
        }

        &__buttonContainer {
            @include flexbox();
            gap: .6em;
        }

        &__registerSupplierContainer {
            @include flexbox();
            padding: 1em 0;
            height: 100%;
            background: none;
        }

        &__registerSupplierContainer .profile__formContainer > section {
            margin-bottom: .8em;
        }

        &__coverContainer {
            background: rgba(255, 255, 255, .4);
            position: relative;
            height: 20%;
        }

        &__updateContainer {
        }

        &__feedbackContainer {
            @include modal();
        }

        &__updateMessage {
            margin: .8em 0;
        }

        &__btnOkay {
            @include buttonHover($bgColor: $foregroundColor, $padding: .5em .6em, $margin: 0);
            width: 100%;
        }

        &__updateLoadingContainer {
            @include flexbox();
            height: 100vh;
        }

        &__feedback {
            width: 100%;
        }

        &__map {
            width: 100%;
            height: 100vh;
        }

        &__feedbackConfirm {
            @include buttonHover($bgColor: $foregroundColor, $padding: .5em .6em, $margin: 0);
            width: 100%;
        }

        &__cover {
            width: 100%;
            height: 8em;
            object-fit: cover;
            border-radius: 2px;
        }

        &__supplierIntroText {
            background: rgb(0,0,0);
            background: -moz-linear-gradient(0deg, rgba(0,0,0,0.969625350140056) 37%, rgba(0,0,0,0.6054796918767507) 100%);
            background: -webkit-linear-gradient(0deg, rgba(0,0,0,0.969625350140056) 37%, rgba(0,0,0,0.6054796918767507) 100%);
            background: linear-gradient(0deg, rgba(0,0,0,0.969625350140056) 37%, rgba(0,0,0,0.6054796918767507) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
        }

        &__text {
            align-self: start;
        }

        &__text h1 {
            font-size: 1.5rem;
            margin: 0;
        }

        &__authorLink {
            font-weight: 500;
            color: white;
            text-decoration: none;
        }

        &__companyLogo {
            @include avatar($width: 100px);
            border-radius: 0px;
            border: 1px solid rgba(255, 255, 255, 0.1);
        } 

        &__textContainer {
            @include flexbox($justify-content: unset);
            position: absolute;
            // border: 2px solid red;
            bottom: 5px;
            width: 100%;
        }

        &__infoAvatar {
            @include avatar($width: 70px);
            border-radius: 0px;
            border: 1px solid rgba(255, 255, 255, 0.1);
            margin: 0 .4em;
        }

        &__text > p {
            @include flexbox($justify-content: unset);
            gap: .5em;
            margin: 0;
            font-size: .9rem;
        }

        &__infoContainer {
            padding: .5em .6em;
        }

        &__listContainer h4 {
            text-transform: uppercase;
            margin: 0;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 600;
            padding: .6em;
            text-align: center;
        }

        &__infoContainer h4 {
            text-transform: uppercase;
            margin: 0;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 600;
        }

        &__infoContainer &__description {
            font-size: .9rem;
            white-space: pre-line;
        }

        &__imagesContainer {
            @include flexbox($justify-content: unset);
            gap: .2em;
            margin: .4em;
            flex-wrap: wrap;
        }

        &__supplierImage {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border: 1px solid #fff;
            border-radius: 2px;
            margin: 5px 5px; 
        }

        &__supplierImage {
            flex: 0 1 20%;
        } 

        &__imagesLoader, &__reviewsLoader {
            @include flexbox();
            height: 15vh;
        }

        &__imagesLoader.h5 {
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.5);
        }

        &__arrowLeft {
            font-size: 1.4rem;
        }


        &__navigationContainer span {
            @include flexbox($justify-content: space-evenly);
        }

        &__navigationContainer span a.active {
            background: black;
        }

        &__navigationContainer {
            background: $foregroundColor;
            width: 100%;
            padding: .3em 0;
            outline: none;
        }

        &__navigationContainer span a {
            text-decoration: none;
            color: #fff;
            font-weight: 500;
            padding: .5em 1em;
            border-radius: 20px;
            outline: none;

            &:hover {
                cursor: pointer;
            }
        }

        &__supplierWrapper {
            position: relative;
        }

        &__editButtonContainer {
            position: fixed;
            padding: .3em .4em;
            width: 100%;
            bottom: 0;
            background: $foregroundColor;
        }

        &__edit a {
            @include flexbox();
            gap: .5em;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 1rem;
            color: white;
        }

        &__edit {
            @include flexbox();
            background: $primaryColor;
            padding: .4em 0;
            border-radius: 20px;

            &:hover {
                cursor: pointer;
            }
        }

        &__lists {
            @include flexbox();
            padding: 0 .6em;
            display: block;
        }

        &__lists li {
            @include flexbox($justify-content: space-between);
            list-style-type: none;
            width: 100%;
            padding: .1em .3em;

            &:nth-child(even) {
                background: rgba(255, 255, 255, .08);
            }
        }

        &__selectContainer {
            @include select();
        }
    }

    @include respond-to('tablet') {
        &__fieldContainer {
            @include flexbox();
            gap: 1em;
        }

        &__fieldContainer > * {
            flex: 1;
        }
    }

    @include respond-to('laptop') {
        &__container {
            @include flexbox();
            margin: .6em;
            width: 100%;
            align-items: unset;
            gap: 1em;
        }

        &__leftColumn, &__rightColumn {
            @include flexbox($justify-content: unset);
            align-items: unset;
            flex-direction: column;
            width: 25%;
            margin-bottom: .8em;
        }

        &__filterContainer {
            background: $foregroundColor;
        }

        &__previewContainer {
            display: unset;
            background: $foregroundColor;
            padding: .6em .3em;
        }

        &__filterContainer, &__previewContainer {
            border-radius: $radius;
            height: max-content;
            border: 1px solid rgba(255, 255, 255, 0.1);
        }

        &__filterModal > &__filterContainer {
            display: unset;
        }

        &__filterIconGroup {
            display: none;
        }

        &__previewContainer {
            padding: 0;
        }

        &__information {
            text-align: center;
            padding: .6em 0;
            margin: 0;
        }

        &__resultContainer {
            background: $foregroundColor;
            height: max-content;
            margin-bottom: .4em;
            border-radius: $radius;
        }

        &__supplierResults {
            @include flexbox($justify-content: unset);
            flex-direction: column;
            align-items: unset;
            width: 50%;
        }

        &__createContainer {
            @include flexbox($justify-content: unset);
            flex-direction: column;
            width: 100%;
            margin-top: 1em;
            border-radius: $radius;
            border: 1px solid rgba(255, 255, 255, 0.1);
            background: $foregroundColor;
            height: max-content;
        }

        &__supplierListContainer {
            margin: .5em .2em;
        }

        &__supplierPreContainer {
            @include flexbox($justify-content: space-between);
            padding: .4em .6em;
            margin: .2em;
            border-radius: 10px;
            background: $primaryColor;
            text-decoration: none;
            color: #fff;

            &:hover {
                cursor: pointer;
                background: rgba(255, 255, 255, 0.05);
            }
        }


        &__supplierPreContainer > section {
            @include flexbox();
            gap: .4em;
        }

        &__supplierPicture {
            @include avatar($width: 30px);
            border-radius: 1px solid rgba(255, 255, 255, 0.05);
        }

        &__createContainer span p {
            font-size: .8rem;
            margin: 0;
        }

        &__supplierProfiles {
            @include flexbox();
            flex-direction: column;
            background: rgba(255, 255, 255, 0.05);
            padding: 0 .5em;
        }

        &__create {
            @include buttonHover($bgColor: $secondaryColor, $padding: .5em 1em);
            display: unset;
            text-decoration: none;
            width: 100%;
            margin: .6em 0;
            text-align: center;
        }

        &__responseContainer {
            width: 50%;
        }

        &__map {
            width: 100%;
            height: 100vh;
        }

        &__details {
            padding: .8em;
        }

        &__details span {
            @include flexbox($justify-content: space-between);
            padding: 0;
            width: 100%;
        }

        &__details span p {
            margin: .2em;
        }

        &__details span a {
            margin: .2em;
        }

        &__infoList {
            @include flexbox();
            align-items: unset;
            gap: .4em;
        }


        &__infoList.p {
            margin: 0;
            padding: 0;
            display: inline;
        }
    } 
}
