@import './mixins/buttons';
@import './mixins/input';

$text-size: 1.1rem;
$paragraph-size: 1em;
$text-color: rgb(128, 128, 128);
$form-padding: 10px;


$colorScheme: (
  bgColor:  rgb(230, 223, 223),
  secondaryColor: rgb(167, 159, 159), 
);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,800;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,900&display=swap');

  * {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: rgb(97, 97, 97) black;
  }

  html {
      scroll-behavior: smooth;
      background-color: rgb(17, 15, 15);
      overflow-y: auto;
  }


  body {
    font-family: "Open Sans", sans-serif;
    position: unset;                                                         ;
  }

  .divider {
    opacity: 0.1;
    margin: 0;
  }

  .signupBtn {
      text-decoration: none;
      font-weight: bold;
      color: white;
      background-color: #000;
      border-radius: .3em;
      padding: 10px 10px;
      margin: 0 auto;
      text-align: center;
    }

 
    .bodyIntro {
      margin: 0 auto;
    }

  .headerContainer {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    top: 0;
    background: rgb(19, 17, 17);
    // color: #fff;
    height: 6vh;
    padding: 10px 10px;
    z-index: 5000;
    width: 100%;
    color: #fff;

    .header {
      color: #fff;
    }

    .header {
      padding: 0px 5px;
      bottom: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      color: #fff;
      width: 30rem;

    nav {
      display: none;
    }
  }

  .header .login {
    color:#fff;
    text-transform: uppercase;
    font-size: .8rem;
    text-decoration: none;
    font-weight: bold;
  }

  .verge a img {
    text-transform: uppercase;
    color: #000000;
    font-family: 'Lato', serif;
    width: 6em;
    font-weight: bold;
    
    img {
      width: 8rem;
    }
  }
  }

  .navContainer {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 70%;
    z-index: 1099;
    max-height: 100%;
    color: #fff;   
  }

  .profilePicture {
    height: 2.8rem;
    width: 2.8rem;
    border-radius: 5em;
    border-color: rgb(0, 0, 0);
    border-width: .5px;
    border-style: solid;
    padding-right: px;
  }

  h4 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bold;
    box-sizing: content-box;
    font-size: 1.2rem;
  }

  
  

  .faBars {
    width: 20px;
    height: 20px;
    color: #fff;
  }

  .icons {
    display: flex;
    align-items: center;
    color:rgb(0, 0, 0);

    
      .notifications {
        height: 30px;
        width: 20px;
        padding: 10px;
      }
      .inbox {
        height: 30px;
        width: 20px;
      }
   }

  .faSearch {
      width: 20px;
      height: 20px;
      color: #000;
    }

    .filteredSearch {
      display: flex;
      align-items: center;
    }

    .navMenu {
      height: 100vh;
      width: 70%;
      background-color: rgb(17, 15, 15);
      color: rgb(255, 255, 255);
      position: fixed;
      z-index: 999;
      left: 0;
      top: 0;
      font-size: .8rem;
      transition: width 300ms ease-in 300ms;

      .times {
        padding-top: 10px;        
        display: block;

        .close {
          height: 30px;
          width: 30px;
          float: right;
          padding-right: 10px;
        }
      }

      .dashboard {
        display: flex;
        color: #fff;
        padding: 10px 20px;
        margin-top: 0;                                                                                                                                                                                                                                                                                                                                                      

        .subProfile {
          display: flex;
          align-items: center;

          h4 {
            font-size: 1em;
            margin: 0 0 .1em;
            padding: 0;
          }

          p {
            margin: 0;
            padding: .2rem;
          }

          
          .profileImage {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }


          a {
            background-color: rgb(54, 54, 54);
            color: #fff;
            text-decoration: none;
            padding: 4px 12px;
            border-radius:4px;
            font-weight: bold;
            font-size: 1em;
            display: inline-flex;
          }
        }
      }

      .menuLinksContainer {
        color: #fff;
        text-decoration: none;

        li span {
          margin-left: 8px;
        }

      }

      .navItems, .navItems1 {
        padding-left:  20px;
        color: #fff;
        list-style-type: none; 
        font-size: $text-size;  
        
        li {
         margin-bottom: 15px;
         margin-left: .43em;
        text-decoration: none;
        }

        .menuL {
          display: flex;
          align-items: center;
          margin-left: .43em;
          font-size: 1.1rem;
          padding: .5rem;

          .menuL:hover {
            color:rgb(0, 0, 0);
            background: #fff;
          }

          .menu:first-child {
            margin-right: 60px;
          }
          
          a {
            text-decoration: none;
            color: white;
            margin-left: .8rem;
          }
        }
      }
    }

    .bodyIntro {

      .searchBox {
        position: relative;
        border-width: 1px;
        border-radius: 30px;
        border-style: solid;
        padding: 8px 10px;
        font-size: .8rem;
        width: 75%;
        outline: none;
      }

      .searchIcon {
        position: absolute;
      }

      .searchBtn {
        position: absolute;
        font-weight: 800;
        border-style: none;
        outline: none;
        background: none;
        padding: 20px;
        float: right;
      }

      .filterOptions {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .dropDownFilter {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .dropDownFilter p {
          font-size: .8rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .selectors {
          width: 80px;
          height: 20px;
          overflow: unset;
        }
      }

        .newsFeed > span {
          padding: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;
          
        }

        .newsFeed {
          background-color: #000;
          padding: 10px;
          font-size: .6rem;
          border-radius: 5px;
          margin-bottom: 10px;
          border: .2px solid rgba(151, 151, 151, 0.473);

          .post {
            p {
              font: 4rem;
            }
          }

          .userDetails h3 {
            font-size: .7rem;
            font-weight: 800;
            margin: 0px;
          }
        }

        .companyName {
          font-weight: 800;
          
        }

        .companyName p {
          font-size: .4rem;
          
        }

        .userDetails {
          display: flex;
          justify-content: space-between;
          padding: 10px;
          max-width: 100%;

          .group {
            display: inherit;
            align-items: center;
            margin: 0;
          }
        }                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

        .faEllipsis {
          top: 0;
          right: 0;
          width: 12px;
          height: 12px;
        }
        
        .userName {
          padding-left: 10px;

          h3 {
            font-size: $text-size;
          }
        }

        .userName p { 
          margin: 0px;
         }

         .userName p  { 
          font-size: .8rem;
         }

         .post .para { 
          padding: 0px 10px;
          font-size: $paragraph-size;
          margin: 0;
         }
    }

    .stats-container {
      .stats {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        align-items: center;

        .stats span { align-items: center; }
      }

      .docAttachments {
        color: $text-color;
        text-decoration: none;
      }

      .rate { 
        font-size: 1.2em;
        font-weight: bold; 
      }

      .companyProfile {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .8em;

        .actionBtn {
          display: flex;
        }

        .sendProposal {
          text-decoration: none;
          background-color: rgb(40, 41, 37);
          color: rgb(255, 255, 255);
          padding: 8px 12px;
          font-weight: 700;
          font-size: 1em;
          border-radius: .5em;
          border: none;
          text-transform: uppercase;
          right: 0;
          text-align: center;
      }

      .viewPost {
          text-decoration: none;
          background-color: rgb(219, 219, 219);
          color: rgb(255, 255, 255);
          padding: 5px 10px;
          font-weight: bold;
          font-size: 1em;
          color: #000;
          border-radius: .5em;
          border: 1px solid black;
          text-transform: uppercase;
          right: 0;
          margin-right: .6em;
        }
      }
    }

    .searchContainer {
      padding: 5px;
      background-color: #999999ff;
      z-index: -1;
      bottom: 0;
      position: fixed;
      width: 100%;

      .searchBar {
        position: relative;
        display: inline-block;
        width: 100%;
        margin: 0 auto;

        .search {
          position: absolute;
          top: 10%;
          right: 10px;
          font-size: 1.2rem;
          z-index: 1;
          transform: rotateY('90%');
          color: #999999ff;
        }
      }

      .searchBar input[type=text] {
        padding: 10px 15px;
        border-radius: 2rem;
        outline: none;
        border: none;
        width: 100%;
        background-color: #f1f1f1;
        box-sizing: border-box;

      }
    }

    .profileImage {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 1px solid #fff;
    }

    .tabs { 
      .tabsItem {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        margin: .4rem 0;
        font-weight: bold;
        align-items: center;
        padding: 0;

        li {
          display: inline-block;
          padding: .6rem;
        }

        li:active {
          background-color: $text-color;
          padding: .4rem 1.2rem;
          border-radius: 4rem;
          color: #fff;

        }

        li a {
          text-decoration: none;
           color: #000;

        }
      }

      .tabsItem:hover {
        cursor: pointer;
        background-color: $text-color;

      }
    }

    .chatContainer {
       background-color: rgb(209, 209, 209);
      padding: 8px;
      
      .chat {
        display: flex;
        text-decoration: none;
        align-items: center;
        padding: .3rem 0;
        margin: 4px 0;
        border-bottom: .2px rgb(128, 128, 128) solid;

        &:hover {
          cursor: pointer;
          background-color:rgb(230, 223, 223);
        }
        
        img, .personDetails, .profileNames, p {
          margin: 0;
        }

        .profileNames {
          font-weight: 600;
        }

        p { 
          font-size: .8rem;
          color: black;
         }
        
        .personDetails {
          padding-left: .8rem;
        }
    }
  }

  .dropDownArrowContainer {
    border-radius: 5px;
    margin-top: 5px;
    padding: .2rem .4rem;
    


     .aarrowDown {
       margin: 2px auto;
       text-align: center;
       font-size: 1rem;
       border-radius: 10px;
       border: 1px solid rgba(85, 85, 85, 0.486);

     } 

     .arrowToggleWrapper {
       background: rgba(158, 158, 158, 0.253);
       border-top-left-radius: 10px;
       border-top-right-radius: 10px;
     }

    

     .data {
       display: none;
     }

    //  .compData {
    //  }

    .dataContainer {
        .actualData {
          .dataList {
            list-style-type: none;
            margin: 0;
            padding: .4rem;
            border-radius: 5px;

            li span {
              display: flex;
              // justify-content: center;
              align-items: center;
              gap: .4rem;
              margin: 0;

              p {
                padding-right: .4rem;
                margin: 0;
              }
            }

            li {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding: 4px .4rem;
              font-size: .8rem;
              border-radius: 5px;
              margin: 2px 0;
              color: rgb(66, 65, 65);

            }

            li:nth-child(odd) {
              background: rgb(189, 189, 189);
            }

            li:nth-child(even) {
              background: #fff;
            }
          }
        }
    }

    .companyData {
      justify-content: center;
      align-items: center; 
      display: flex;
      flex-wrap: nowrap;    
    } 
      
      .inputField {
        position: relative;
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 80%;
        border: 1px solid #000;
        padding: 10px 15px;
        padding-right: .4rem;
        outline: none;
      }

      .icon {
        position: absolute;
        font-size: 1rem;
        background: $text-color;
        color: #fff;
        padding: 8px 15px;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        border: 1px solid black;
      }
  }

  .modalContainer {
    background: #fff;
    border: 2px solid #000;
    border-radius: 10px;
    height: max-content;
    width: 100%;
    z-index: 999;

    section {
      margin: 10px;

      p {
        font-size: .8rem;
        text-align: center;
      }
     
      form {
        display: flex;
        flex-direction: column;
        gap: .4rem;

        button {
          background-color: #000;
          border-radius: 10px;
          color: #fff;
          padding: 10px;
          font-weight: bold;
          font-size: .8rem;
          text-align: center;
          text-decoration: none;
          text-transform: uppercase;
          border: none;
        }
      }

      input, textarea {
        width: 100%;
        border-radius: 10px;
        border: 1px solid #000;
        padding: 8px 10px;
        font-size: 1rem;
        outline: none;
      }
    }
  }

.profileContainer {
  display: flex;
  justify-content: center;

  .profile {
    height: 70vh;

    header {
      border-bottom: 1px solid #000;
      width: 400px;
      height: 150px;
      background: rgb(59, 59, 59);
    }

    section {
      padding: 5px;


      p {
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }

      .profileOverview {
        padding: 10px;
        display: flex;
        align-items: center;
  
        img {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          border: 2px solid #fff;
        }
        
        span {
          h4, p {
            font-size: .8rem;
            margin: 0 5px;
    
          }
        }
  
      }
    }

  }
}

.btnGroup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 8vh;
  background: transparent;
  z-index: 999;
  transition: height 400ms ease-in-out 100ms;


  button {
    background: #000;
    color: #fff;
    border: none;
    padding: 10px;
    font-weight: bold;
    font-size: 1rem;
    width: 45%;
    border-radius: 5px;
    padding: 10px;
    border-radius: 20px;

    &:hover {
      color:rgb(0, 0, 0);
      background: #fff;
      cursor: pointer;
    }
  }
}

.createPost {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 5vh;
  background: transparent;
  z-index: 999;

  button {
    position: absolute;
    background: none;
    color: #fff;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-bottom: 20px;

    &:hover {
      color:rgb(0, 0, 0);
      background: #fff;
      cursor: pointer;
    }
  }
}

#verg {
  display: none;
}

.postField {
  position: fixed;
  background: $text-color;
  border-radius: 20px 20px 0 0;
  height: 40vh;
  width: 100vw;
  bottom: 0;
  z-index: 999;
  transition: height 500ms ease-in-out 100ms;
}

.postFieldContainer { 

  .innerPostField {
    margin: 2px 10px;       
    margin-bottom: 5px;

    textarea {
      border-radius: 20px;
    }

    .innerPostField > * {
      margin-bottom: 5px;

     
    }

    .inputField, .field {
      width: 100%;
      margin-bottom: 5px;
      padding: $form-padding;
      outline: none;
    }

    .amountContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1;
      gap: 5px;
      margin-bottom: 5px;

      .inputAmount {
        width: 50%;
        padding: $form-padding;
        border: none;
        outline: none;
      }
    }

    textarea {
      width: 100%;
      border: none;
      padding: 12px;
      outline: none;
      font-size: 1rem;
      font-family: 'Open Sans', sans-serif;
      margin-top: 10px;
      height: 60%;
    }
    
    

    input[type=file] {
      background: #000;
      color: #fff;
    }

    P {
      font-size: .7rem;
      color: #fff;
      text-align: center;
    }
  }
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  transition: width 300ms ease-in-out 300ms;


  .searchInputHeader {
    border-radius: 15px;
    border: 1px solid #000;
    padding: 8px;
    padding-left: 10px; 
    outline: none;
    width: 100%;
  }
}

.loginContainer { 
  height: 100vh;
  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.loginContainer, 
.innerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  .innerSection {
    background-color: rgba(211, 211, 211, 0.9);
    width: 80vw;
    border-radius: 10px;
    padding: 40px;
    box-shadow: -2px 10px 50px -18px rgba(255, 255, 255, 0.65);
    -webkit-box-shadow: -2px 10px 50px -18px rgba(255, 255, 255, 0.65);
    -moz-box-shadow: -2px 10px 50px -18px rgba(255, 255, 255, 0.65);
  }

  .inputFields input {
    width: 100%;
    border-radius: 10px;
    border: black 1px solid;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    font-weight:700;
  }  

  .loginLabel {
    text-align: left;
    font-weight: bold;
  }

  .inputFields .loginBTN {
    background-color: blue;
    display: inline-block;
    width: 100%;
    color: white;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 8px;
    text-transform: uppercase;
  }
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  
}

.businessCardContainer {
  padding: 10px;

  .businessCard {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;

    * {
      padding: 0;
      margin: 2px;
    }

    p {
      font-size: $paragraph-size;
    }

    section {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        text-decoration: none;
        background-color: rgb(40, 41, 37);
        color: rgb(255, 255, 255);
        padding: 6px 10px;
        font-weight: 600;
        font-size: .7em;
        border-radius: .5em;
        border: none;
        text-transform: uppercase;
        right: 0;
        text-align: center;
      }
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.landingContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: .2rem;
  max-width: 100%;
  color: #fff;
    background: rgb(19, 17, 17);
  // background: #0F2027;  /* fallback for old browsers */
  // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  .rightColumn {
    display: none;
  }

  .heroSection {
    max-width: 20rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    article:first {
      height: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 1.2;

      h2 {
        color: red;
      }
    }

    article p {
      margin-top: 5px;
      // text-align: center;
    }

    .arrow-right {
      width: 2rem;
      margin-left: .2em; 
    }

    article .newsletter-signup {
      height: 10%;

      input {
        width: 70%;
        padding: 1em;
        margin: 1.2em;
        
        &:focus {
          outline: #000;
        }
      }

      // button {
      //   @include hoverEffect(purple, 2em);
      // }
    }

    article a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: black;
      padding: 12px 20px;
      text-decoration: none;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      margin-top: 0;
      box-sizing: border-box;
      width: 70%;
      display: inline-block;
      text-align: center;
      border-radius: 30px;
      transition: background-color 1s ease-in-out;
      background: #7474BF;  /* fallback for old browsers */
      background: #5C258D;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #4389A2, #5C258D);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #4389A2, #5C258D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      
      &:hover {
        background: #4776E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        // border: 1px solid white;
        color: black;
      }
    }
  }

  }

  article h3 {
    text-transform: uppercase;
  }


.landingContainer{
  .features {
    display: flex;
    justify-content: center;
    align-items: center;

    .featureList {
      background-color: black;

    }

    .featureList, span {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
  }
}

.feedContainer {
  position: unset; 
}

.newsletter {
  background-color: #5C258D;
}


@media only screen and (min-width: 680px) {
  .headerContainer {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    background: rgb(19, 17, 17);
    padding: 1rem;
    color: #fff;
    z-index: 19999;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 4em;
      width: 100%;
      height: 10vh;

      h3 span {
        font-weight: 900;
        color: #fff;
      }

      nav {
        display: unset;
        // padding: 1rem;

      }

      nav ul {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        // gap: 2rem;
      }

      nav ul li {
        list-style-type: none;
        font-size: 1rem;
        padding: 1rem;
        display: inline-block;
        // margin: 1.2em;

        &:hover {
          cursor: pointer;
          border-bottom: 1px solid white;
        }

        &:active {
          color: chartreuse;
        }
      }

      .faBars {
        display: none;
      }

      .login {
        border: 2px solid #fff;
        padding: .4rem 40px;
        margin: 5px;
        border-radius: 20px;
        color: #fff;
        transition: color 800ms ease-in-out;

        &:hover {
          background-color: #fff;
          color: #000;
        }
      }


    }
  }

  .landingContainer {
    background: rgb(17, 17, 17);
    // background: #0F2027;  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;

    .heroSection {
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5rem;
      max-width: 70rem;

      .leftColumn {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        h2 {
          margin: 0;
        }

        p {
          max-width: 40rem;
          margin: 1em 0;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .feedback {
          display: block;
          margin-top: 1rem;
          font-weight: bold;
            font-style: normal;
          font-size: .8rem;
        }

        .newsletter-signup {
          display: flex;
          align-items: center;
          width: 100%;
          margin-top: 1.4rem;
          
          input {
            width: 70%;
            padding: 1rem;
            outline: none;
            border: none;
            height: 100%;
    
            &::placeholder {
              font-weight: bold;
            }

            &:focus {
              outline: rgb(255, 0, 242);
            }
          }
    
          button {
            display: inline-block;
            width: 30%;
            padding: 1rem;
            height: 100%;
            background-color: #0F2027;
            color: #fff;
            border: none;
            font-weight: bold;


            &:active {
              color: chartreuse;
            }
    
            &:hover {
              cursor: pointer;
              background: #144053;
            }
          }
        }
      }

      .leftColumn h2 {
        font-family: Lato, sans-serif;
        text-transform: none;
        font-size: 2rem;
        font-weight: bolder;
      }

      .leftColumn p {
        &::selection {
          background: yellow;
          color: black;
        }
      }

      .leftColumn, .rightColumn {
        width: 70rem;
        display: block;
      }

      .rightColumn .agreement {
        width: 100%;
        height: auto;
      }
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 5rem 0;
      // height: 100vh;

      .featureList {
        flex-direction: row;
        // flex-wrap: wrap;
        background-color: black;
        // border-radius: 10px;
        padding: 5rem;
        max-width: 100%;
        gap: 1rem;
        height: 100%;


        span {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;
          // padding: 1rem;
          width: 50%;
          background: black;
          color: #fff;
          height: max-content;

          .step {
            position: absolute;
            background: black;
            font-weight: bold;
            font-size: 1rem;
            color: white;
            padding: .2rem;
          }

          .featureSVG {
            font-size: 5rem;
            align-self: center;
          }

          .details {
            padding: 0 2rem;

            h3 {
              font-size: 1.6rem;
            }
          }

          h3, p, {
            text-align: left;
            bottom: 0;
            margin: 0;
          }
        }
      }
  }

  .newsletter {
    padding: 10rem 1rem;
    background-color: #5C258D;
    width: 100%;  

    h3 { text-align: center; }

    section > div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60%;
    }

    section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    section .newsletter-signup {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 4rem;


      input {
        width: 60%;
        padding: 1rem;
        outline: none;
        border: none;

        &::placeholder {
          font-weight: bold;
        }

        &:focus {
          outline: black;
        }
      }

      button {
        display: inline-block;
        padding: 1rem;
        height: 100%;
        background-color: #0F2027;
        color: #fff;
        border: none;
        font-weight: bold;

        &:hover {
          cursor: pointer;
          background: #144053;
        }
      }
    }
  }

  .loginContainer {
    .innerSection {
      width: 350px;
      
      .loginBTN {
        background: #4776E6;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

      }
    }
  }
}

  .feedContainer {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex: 1 2 1;
    position: unset;
    margin-top: 1em;

    .leftAside {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;

      img:first-child {
        background: black;
        width: 100%;
        height: 130px;
      }

      .profileImageP {
        width: 6rem;
        height: auto;
        border: 1px solid white;
        border-radius: 50%;
        position: absolute;
        top: 30%;
        left: 30%;
    }

      section {
        padding: 4rem 1rem 0 1rem;
      }
    }

    aside, main {
      overflow-y: auto;
      // background: #000;
      border: 1px solid rgb(33, 33, 33);
      color: #fff;

    }

    aside {
      width: 18rem;
      height: max-content;
      border-radius: 5px;
      background: rgba(0, 0, 0, 0.296);

      section {
        color: #fff;
        margin-bottom: 1em;

        h3 { text-align: center; }
      }

      ul {
        list-style-type: none;
        padding: 0;
        margin: 1em;
        
        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: .2em;
          margin: 0;

          button {
            background: #4776E6;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #8E54E9, #4776E6);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #8E54E9, #4776E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
            color: white;
            padding: .6em;
            border: none;
            font-weight: bold;
            border-radius: 4px;

            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }

          &:hover {
            cursor: pointer;
            transform: scale(1.1);
            transition: transform 100ms ease-in-out 00ms;
            background: rgba(232, 232, 232, 0.576);
            border-radius: 4px;
          }
        }
      }
    }

    main {
      width: 40em;

    }
  }

  .newsFeed {
    // background: #000;
    background: rgba(0, 0, 0, 0.296);


  }

  .bodyIntro .newsFeed .post .para {
    font-size: 1.4em;

  }

  // footer styles
  .footer {
    width: 100%;

    section {
      display: flex;
      justify-content: space-around;
      // align-content: center;
      width: 100%;
      gap: 3rem;
      padding: 2rem 6rem;

      * {
        list-style-type: none;
      }

      .socialIcons {
        width: 20%;

        span ul {
          display: flex;
          justify-content: center;
          align-content: center;
          
          li {
            padding: .2rem;
            font-size: 1.2rem;
            margin: 0;

            &:hover {
              cursor: pointer;
              color: rgb(77, 77, 77);
              transform: scale(2);
              transition: transform 300ms ease-out;
            }
          }
        }
      }
    }

    footer {
      text-align: center;
      font-size: .8rem;
      padding: .6rem;
      align-self: flex-end;
    }
  }

  .suggestions {
    display: flex;
    justify-content: center;
    align-content: center;
    // flex: 1 2;
    padding: 4rem 8rem;
    gap: 2rem;
    height: 60%;
    max-width: 70rem;

    span {
      flex: 1;
    }

    span form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;

      input, textarea {
        @include inputField(1em)
      }

      textarea {
        font-size: .9rem;
      }

      button {
        @include hoverEffect(purple, .8em);
      }
    }
  }
}